# LEVEL 1: Basic Star Patterns

In [4]:
n=4

for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [1]:
#right angle triangle

s=5
for i in range(s):
    for j in range(i+1):
        print("#",end=" ")
    print(i)

# 0
# # 1
# # # 2
# # # # 3
# # # # # 4

In [ ]:
#Inverted Triangle

n = 6
for i in range(n):
    for j in range(n - i):
        print("*", end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
#Number Triangle 

n=9
for i in range(n+i):
    for j in range(n-i):
        print(i,end=" ")
    print()

0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4
5 5 5 5
6 6 6
7 7
8

In [32]:
n=9
for i in range(n+i):#when add+1 in both i and j range indexing start from 1
    for j in range(n-i):
        print(i,end=" ")#when add i for print print pattern in same number in line
    print()

0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4
5 5 5 5
6 6 6
7 7
8

In [ ]:
#Right Aligned Triangle
#shortcut
n = 4
for i in range(1, n + 1):
    print("  " * (n - i), end="")
    print("* " * i)

      *
    * *
  * * *
* * * *

In [1]:
#Right Aligned Triangle


n = 4
for i in range(1, n + 1):
    for j in range(n - i):
        print("  ", end="")
    for j in range(i):
        print("* ", end="")
    print()

      *
    * *
  * * *
* * * *

In [4]:
n=4
for i in range(n+2):
    for j in range(n+i):
        print("*",end=" ")
    print()

* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [1]:
n=8
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *